.mobileClose{
    transition: 0.3s;
    color: grey;
}
.mobileClose:hover{
    color: white;
}

@media (min-width : 800px)
{
    .mobile-dropdown{
        display: none ;
    }
    
}
@media (max-width : 800px)
{
    .authButtons {
        display: none;
    }
}
